name: Manual macOS SSHX

on:
  workflow_dispatch:

jobs:
  run-sshx:
    runs-on: namespace-profile-mac

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create user "rohit" and add to admin
        run: |
          sudo bash -c 'sysadminctl -addUser rohit -password rohit; dseditgroup -o edit -a rohit -t user admin'

      - name: Enable VNC / Remote Management
        run: |
          sudo bash -c '/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -allowAccessFor -allUsers -privs -all; \
          /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -clientopts -setvnclegacy -vnclegacy yes; \
          /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -clientopts -setvncpw -vncpw rohit; \
          /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -restart -agent -console; \
          /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate'

      - name: Start Python HTTP server (8080)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8080

      - name: Start Python HTTP server (8081)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8081

      - name: Start Python HTTP server (8082)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8082

      - name: Start Python HTTP server (8083)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8083

      - name: Start Python HTTP server (8084)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8084

      - name: Start Python HTTP server (8085)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8085

      - name: Start Python HTTP server (8086)
        timeout-minutes: 60
        continue-on-error: true
        run: |
          python3 -m http.server 8086
